* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;

  min-width: 600px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 1200px;
  margin: auto;
}

.main-nav {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}
.menu {
  display: flex;

  justify-content: space-between;
}

.list,
li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #2e2f22;
}

.nav-item {
  padding-left: 83px;
}
.main-menu-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #2e2f22;
}

.header {
  height: 580px;
  width: 100%;
  background-image: url("../img/bg-main.jpg");
  background-size: cover;
  margin-bottom: 85px;
}

.main-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

.title-m {
  font-family: "Spectral SC", serif;
  font-style: normal;
  color: #2e2f22;
  font-size: 36px;
  line-height: 55px;
  margin: 0;
  padding: 0;
}

.title-button {
  position: relative;
  min-width: 224px;
  background-color: #d7d1c9;
  padding: 12px 74px 12px 20px;
  border-radius: 10px;
  width: 203px;
  height: 46px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  border-width: 0;
}

.drop-list {
  position: absolute;
  right: 25px;
  top: 15px;
  width: 22px;
  height: 20px;
}

.img-article {
  display: flex;
  border-radius: 10px;
}

.article-descr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(46, 47, 34, 0.7);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  padding: 0;
}
.prew-article .content-article {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  width: 387px;
  line-height: 26px;
  color: #2e2f22;
}
.prew-article .article-name {
  font-family: "Spectral SC", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;

  color: #2e2f22;
}
.article-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 62px;
}

.big-article {
  position: relative;
  width: 590px;

  margin: 0;
  padding: 0;
}

.big-article .item-larticle {
  height: 552px;
}

.big-article .article-name {
  position: relative;
  color: #fff;
  left: 82px;
  bottom: 210px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 8px;
}

.big-article .par-art {
  position: relative;
  color: #fff;
  left: 82px;
  bottom: 225px;
  width: 426px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.big-article .article-descr {
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  left: 82px;
  bottom: 245px;
  width: 426px;
}

.big-article .img-article {
  margin-top: 100px;
  width: 590px;
  height: 552px;
}

.big-list {
  height: 552px;
  margin-bottom: 0;
}

.button {
  position: relative;

  border-radius: 10px;
  width: 224px;
  height: 46px;
  border: 1px solid #202117;
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.btn-more {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
}

.title-about-me,
.portfolio__title,
.form__title {
  margin: 0;
  font-family: "Spectral SC", serif;
  display: flex;
  justify-content: center;
  font-size: 36px;
  line-height: 55px;
  font-style: normal;
  color: #2e2f22;
  margin-bottom: 49px;
}

.abMe-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 85px;
}

.p-aboutme {
  margin-top: 37px;
  margin-left: 40px;
  width: 497px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #2e2f22;
}

.url-forms {
  color: #2e2f22;
  text-decoration: underline;
}

.quote-aboutme {
  margin-top: 75px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #2e2f22;
}

.quote-aboutme::before {
  position: absolute;
  content: "";
  left: -20px;
  top: -30px;
  width: 2px;
  height: 214px;
  background-color: #d7d1c9;
}

/* ГАЛЕРЕЯ */
.gallery__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery__item {
  margin-bottom: 62px;
}

.card {
  width: 393px;
  padding: 3px;
  border-radius: 10px;
  margin-bottom: 116px;
}

.card_middle {
  position: relative;
  width: 387px;
  height: 525px;
  padding: 0;
}

.card_middle .card__ticket {
  position: absolute;
  left: 20px;
  top: 140px;
  width: 347px;
  color: #2e2f22;
}

.card_middle_dark .card__ticket {
  color: #fff;
}

.card__img {
  margin-bottom: 27px;
  border-radius: 10px;
}

.card_middle .card__img-wrap {
  margin-bottom: 0;
}

.card_middle .card__img {
  width: 387px;
  height: 525px;
}

.card_big .card__title {
  font-size: 20px;
}

.card_middle .card__title {
  margin-bottom: 44px;
  font-size: 20px;
}

.card__title {
  margin-bottom: 8px;
  font-family: "Spectral SC", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.card__subtitle {
  margin-bottom: 17px;
  font-family: "Spectral SC", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.card__name {
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.portfolio button {
  text-transform: uppercase;
}

/* ФОРМА */

.form {
  width: 984px;
  height: 637px;
  margin: auto;
  background: url("../img/bg-form.jpg");
  border-radius: 10px;
  padding: 53px 75px;
  margin-bottom: 80px;
}
.forms-il {
  display: flex;
  flex-wrap: wrap;
}

.name {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.label-name,
.label-email,
.label-letter {
  font-family: "Spectral SC", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #2e2f22;
}

.input-name,
.input-email {
  padding: 20px;
  width: 407px;
  height: 63px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #202117;

  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  opacity: 0.7;
}
.email {
  display: flex;
  flex-direction: column;
}
.letter {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.area-letter {
  padding: 20px;
  width: 837px;
  height: 293px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #000000;

  border-radius: 10px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  color: #202117;

  opacity: 0.7;
}

.form-button {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0);
}
.button-form {
  display: flex;
  justify-content: center;
}

/* ВЫПАДАЮЩИЙ СПИСОК */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 13px;
  display: none;
  position: absolute;
  background-color: #d7d1c9;
  min-width: 205px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* ПОДВАЛ */
.footer {
  background-color: #d7d1c9;
  height: 181px;
}
.social-contacts {
  margin-top: 65px;
  margin-right: 200px;
  display: flex;
  justify-content: center;
}
.social-links {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  color: #2e2f22;
  margin-left: 120px;
}
